@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}
#navigasi {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
    padding: 0.6rem 8%;
    left: 0;
    right: 0;
    top: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.navbar-line {
    height: 4px;
    background: black;
    width: 84%;
    margin: 0 auto;
}

#navigasi img {
    max-width: 9rem;
}
#navigasi a {
    color: white;
    margin: 0; /* Menghapus margin default */
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 0.9rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}
#button-login {
    display: flex;
    background: rgba(2, 62, 138, 1);
    width: 7.9rem;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#button-login a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.search-bar {
    border: 1px solid var(--Neutral-ne10, #ddd);
    background: rgba(242, 247, 255, 0.4);
    backdrop-filter: blur(17.712465286254883px);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.form-control {
    flex: 1;
    width: 150px;
}
.search-bar input,
.search-bar select {
    background: transparent;
    border: none;
    color: white;
}
.search-bar select {
    appearance: none; /* hilangkan default */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
    padding-right: 2.5rem; /* beri ruang buat icon */
    width: 180px;
}
.search-bar input:focus,
.search-bar select:focus {
    box-shadow: none;
    outline: none;
}
.search-bar input::placeholder {
    color: #313131;
}
.search-bar button {
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
}
.search-bar .form-select {
    color: black;
}
#tentang-kami {
    height: 130vh;
    padding: 1.5rem 8%;
    z-index: 1;
}
#tentang-kami h2 {
    color: #043471;
    text-align: center;
    padding-bottom: 1.5rem;
    /* Heading/h4/Bold */
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
#tentang-kami p {
    color: #000;
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.img-tentang-kami {
    width: 584px;
    height: 360px;
    flex-shrink: 0;
}
#koleksi {
    padding: 1.5rem 8%;
    z-index: 1;
    height: 100vh;
    background: #fff;
}
#koleksi-title {
    color: #043471;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
#koleksi-deskripsi {
    color: #1f1f1f;
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px; 
    padding-bottom: 1rem;
}
.table-wrapper {
    border: 5px solid #dee2e6;
    border-radius: 0.75rem;
    /* rounded-3 */
    overflow: hidden;
}

.table {
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.table td,
.table th {
    padding: 20px 20px;
    color: #666;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
footer {
    padding: 1.5rem 8%;
    background: #043471;
    color: white;
}
.footer-title h1 {
    color: #fff;
    /* Label/l18/Bold */
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px; /* 127.778% */
}
.footer-title h2 {
    color: #fff;
    /* Label/l16/Bold */
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.footer-links h3 {
    color: #fff8f8;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.list-unstyled li a {
    text-decoration: none !important;
    color: #fff8f8;
    /* Label/la12/Medium */
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
}
.footer-contact h3 {
    color: #fff8f8;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.list-unstyled li p {
    text-decoration: none !important;
    color: #fff8f8;
    /* Label/la12/Medium */
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
}
.footer-social h3 {
    color: #fff8f8;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}
.footer-copyright p {
    color: #fff8f8;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
}
