#layanan {
    padding: 1.5rem 8%;
    min-height: 100vh;
}
#layanan .title {
    color: #043471;

    /* Heading/h1/SemiBold */
    font-family: "Plus Jakarta Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 58px; /* 131.818% */
}
#subtitle {
    font-size: 25px !important;
}

.img-layanan {
    width: 474px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(60%);
}
.img-layanan {
    width: 100%;
    height: auto;
   
}
#layanan p {
    color: #000;
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
#layanan ul li {
    color: #000;
    text-align: justify;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
/* @media screen and (max-width: 480px) {
    #wrap-layanan {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    #wrap-layanan {
        display: flex;

        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #wrap-layanan {
        display: flex;

        flex-direction: column;
        gap: 2rem;
    }
} */
