* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}
.wrapper {
    background: url("/assets/hero-login.png") no-repeat center center/cover;
    height: 100vh;
    position: relative; /* â† Tambahkan ini */
}

.overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Agar gambar dekorasi tidak nutupin klik */
    z-index: 0;
}

.vektor-atas,
.vektor-bawah {
    position: absolute;
    width: 48rem;
    height: auto;
}

.vektor-atas {
    left: 0;
    top: 0;
}

.vektor-bawah {
    right: 0;
    bottom: 0;
}

.wrapper > .container {
    position: relative;
    z-index: 1; /* Supaya h1 di atas layer gambar */
}

.card {
    width: 733px;
    height: 562px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

.form-control {
    background: rgba(240, 240, 240, 1);
    border: Mixed solid rgba(0, 0, 0, 1);
}

.btn {
    background: rgba(6, 77, 63, 1);
    color: white;
}
.btn-custom{
    background: rgba(2, 62, 138, 1);
    height: 2rem;
    border-radius:10px;
    color:white;
}