@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.wrap {
    background: url("/assets/hero-img.png") no-repeat center center/cover;
}

/* .wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: white;
} */

#navigasi {
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: row;
    gap: 10rem;
    align-items: center;
    padding: 1.5rem 8%;
    left: 0;
    right: 0;
    top: 0;
}
#navigasi img {
    max-width: 9rem;
}
#navigasi a {
    color: white;
    margin: 0; /* Menghapus margin default */
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 0.9rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}
#button-login {
    display: flex;
    background: rgba(2, 62, 138, 1);
    width: 7.9rem;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#button-login a {
    color: rgba(255, 255, 255, 1);
}
#hero {
    height: 105vh;
    padding: 1.5rem 8%;
    z-index: 1;
    position: relative;
    margin-bottom: -200px;
}
.search-bar {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-bar input,
.search-bar select {
    background: transparent;
    border: none;
    color: white;
}
.search-bar input:focus,
.search-bar select:focus {
    box-shadow: none;
    outline: none;
}
.search-bar input::placeholder {
    color: #ddd;
}
.search-bar button {
    border-radius: 2rem;
    padding: 0.4rem 1.2rem;
}
.search-bar .form-select {
    color: white;
}
.hero-title {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 60%;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.hero-title h1 {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 131.818% */
}
#prodi {
    background: url("/assets/Subtract.png") no-repeat center center/cover;
    z-index: 10;
    position: relative;
    padding-top: 200px;
    height: 100vh;
}
#koleksi {
    height: 120vh;
    background: url("/assets/koleksi.png") no-repeat center center/cover;
    z-index: 1;
    position: relative;
    margin-top: -200px;
    /* pading-top: 200px; */
}
.wrapper {
    padding-top: 200px;
    display: grid;
    place-items: center;
    justify-items: center; /* Horizontal */
    align-items: start;
}

.kategori-title {
    writing-mode: vertical-rl;
    transform: rotate(360deg); /* agar teks dari bawah ke atas */
    color: white;
    position: absolute;
    font-family: "Plus Jakarta Sans";
    font-size: 44px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; 
    z-index: 1;
}

.kategori-box {
    position: relative;
    width: 200px;
    height: 540px;
    padding: 20px 0;
    border-radius: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.kategori-box img {
    position: relative;
    z-index: 2;
}
.kategori-box:hover {
    transform: translateY(-5px);
}
.tugas-akhir {
    background-image: url("/assets/koleksi1.png");
}

.laporan-magang {
    background-image: url("/assets/koleksi2.png");
}

.tugas-akhir::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(237, 91, 49, 0.36) 0%,
        rgba(237, 91, 49, 0.83) 100%
    );
    z-index: 1;
}
.laporan-magang::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(2, 62, 138, 0.36) 0%,
        rgba(2, 62, 138, 0.83) 100%
    );
    z-index: 1;
}

.kategori-title {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#tentang {
    height: 90vh;
    padding: 1.5rem 8%;
}
footer {
    padding: 1.5rem 8%;
    background: #043471;
    color: white;
}
.list-unstyled {
    text-decoration: none !important;
    color: #ffffff;
}
